---
name: Test

'on': push

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1

      - name: Fail
        id: fail
        run: cat error.txt 2> errors.txt

      - name: Google Chat Notification
        uses: javiern8410/actions-google-chat-notification@v1.0.1
        with:
          name: Build
          url: ${{ secrets.GOOGLE_CHAT_WEBHOOK }}
          status: ${{ job.status }}
        if: always()
